@font-face {
   font-family: 'stentiga';
   font-display: swap;
   src: url('file:///C:/Users/Mohammad/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-04-04_003033/fonts/stentiga/font.ttf');
}
